* {
    margin: 0;
    padding: 0;
}

:root{
    --primary:#000000;
    --Secondary:#5E4DFE;
    --accent:#FF6E69;
    --white:#ffffff;
    --head:'Istok Web', sans-serif;
    --body:'Inter', sans-serif;
    --font-h-D:48px;
    --font-h-d2:40px;
    --font-h-T:36px;
    --font-h-M:32px;
    --font-p1:24px;
    --font-p2:20px;
    --font-p3:14px;
}