* {
    margin: 0;
    padding: 0;
}

:root{
    --primary:#000000;
    --Secondary:#5E4DFE;
    --accent:#FF6E69;
    --white:#ffffff;
    --head:'Istok Web', sans-serif;
    --body:'Inter', sans-serif;
    --font-h-D:48px;
    --font-h-d2:40px;
    --font-h-T:36px;
    --font-h-M:32px;
    --font-p1:24px;
    --font-p2:20px;
    --font-p3:14px;
}

/* hero section */
.hero{
    background-color: var(--primary);
    color: var(--white);
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
    padding-top: 50px;
}
.hero div{
    max-width: 1330px;
    padding-top: 50px;
    padding-bottom:200px;
    margin: 0px auto;
}
.hero div div{
    padding-left: 130px;
}

.hero h1{
    color: var(--Secondary);
    font-size: var(--font-h-D);
    font-family: var(--head);
    padding-left: 100px;
}
.hero p{
    font-size: var(--font-p2);
    font-family: var(--body);
    font-weight: 500;
    padding-left: 130px;
    padding-top: 30px;
}
.hero a{
    font-size: var(--font-p1);
    font-weight: 600;
    font-family: var(--body);
    text-decoration: none;
}
.product-img{
    max-width: 1220px;
    margin: 20px auto;
    margin-top: -350px;
    position: relative;
    z-index: 2;
}
.desktop{
    width: 850px;
}
.mobile{
    position: relative;
    z-index: 3;
    right: 60px;
    bottom: 70px;
}
/* blog-1 */
.blog-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}
.blog-1 h1{
    font-family: var(--head);
    font-size: var(--font-h-D);
    font-weight: 600;
    color: var(--Secondary);
}
.blog-1 p{
    font-family: var(--body);
    font-size: var(--font-p2);
    font-weight: 500;
    color: var(--primary);
    margin-left:30px ;
    margin-top: 20px;
}
.blog-1 img{
    max-width: 523px;
}
.blog-1 button{
    margin-left:30px ;
    margin-top: 20px;
}
/* blog-2 */
.blog-2{
    background-color: var(--primary);
    padding-top: 200px;
    padding-bottom: 60px;
    margin-top: -70px;
    clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
    
}
.blog-2 h1{
    font-family: var(--head);
    font-size: var(--font-h-D);
    font-weight: 600;
    color: var(--white);
    width: fit-content;
    margin: 30px auto;
}
.blog-2Top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
    max-width: 1330px;
    margin: 0px auto;
}
.blog-2Top h1{
    font-family: var(--head);
    font-size: var(--font-h-D);
    font-weight: 600;
    color: var(--accent);
}
.blog-2Top p{
    font-family: var(--body);
    font-size: var(--font-p2);
    font-weight: 500;
    color: var(--white);
    margin-left:30px ;
    margin-top: 20px;
}
.blog-2Top img{
    max-width: 523px;
}
.blog-2Top button{
    margin-left:30px ;
    margin-top: 20px;
}
.blog-2bottom{
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    margin-top: 80px;
    flex-wrap: wrap;
    max-width: 1330px;
    
}
.blog-2bottom h3{
    font-size: var(--font-h-T);
    font-family: var(--head);
    color: var(--Secondary);
    font-weight: 600;
}
.blog-2bottom p{
    font-size: var(--font-p1);
    font-family: var(--body);
    color: var(--white);
    font-weight: 600;
}
/* blog-3 */
.blog-3{
   padding-top: 200px;
}

.blog-3Top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
    max-width: 1330px;
    margin: 0px auto;
}
.blog-3Top h1{
    font-family: var(--head);
    font-size: var(--font-h-D);
    font-weight: 600;
    color: var(--Secondary);
}
.blog-3Top p{
    font-family: var(--body);
    font-size: var(--font-p2);
    font-weight: 500;
    color: var(--primary);
    margin-left:30px ;
    margin-top: 20px;
}
.blog-3Top img{
    max-width: 523px;
}
.blog-3Top button{
    margin-left:30px ;
    margin-top: 20px;
}
.blog-3bottom{
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    margin-top: 80px;
    flex-wrap: wrap;
    max-width: 1330px;
    
}
.blog-3sub{
    display: flex;
}
.blog-3bottom img{
    width: 96px;
}
.blog-3bottom h2{
    font-size: var(--font-h-T);
    font-family: var(--head);
    color: var(--accent);
    font-weight: 600;
}
.blog-3bottom p{
    font-size: var(--font-p1);
    font-family: var(--body);
    color: var(--primary);
    font-weight: 600;
}
/* blog-4 */
.blog-4{
    background-color: var(--primary);
    text-align: center;
    padding: 50px 0px;
    margin: 80px 0px;
}
.blog-4 h1{
    margin-top: 40px;
    color: var(--accent);
    font-size: var(--font-h-D);
    font-family: var(--head);
}
.blog-4 p{
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--white);
    font-size: var(--font-p2);
    font-family: var(--body);
}
@media (max-width:1200px){
    /* hero section */
    .hero h1{
        font-size: var(--font-h-d2);
        padding-left: 40px;
    }
    .hero p{
        padding-left: 60px;
    }
    .hero div div{
        padding-left: 60px;
    }
    .hero a{
        font-size: var(--font-p2);
    }
    .product-img{
        max-width: 650px;
    }
    .desktop{
        width: 450px;
    }
    .mobile{
        height: 350px;
    }
    /* .blog-1 */
    img{
        width: 350px;
    }
    
}
@media (max-width:650px){
    /* hero section */
    .hero h1{
        font-size: var(--font-h-T);
        padding-left: 20px;
    }
    .hero p{
        font-size: var(--font-p3);
        padding-left: 25px;
    }
    .hero div div{
        padding-left: 25px;
    }
    .hero a{
        font-size: var(--font-p3);
    }
    .desktop{
        display: none;
    }
    .product-img{
        max-width: 250px;
    }
    .mobile{
        right: 0px;
        bottom: 0px;
        left: 50px;
        height: 450px;
    }
    /* .blog-1 */
    .blog-1 h1{
        font-size: var(--font-h-T);
        padding-left: 20px;
    }
    .blog-1 p{
        font-size: var(--font-p3);
        padding-left: 25px;
    }
    .blog-1 div div{
        padding-left: 25px;
    }
    .blog-1 img{
        width: 250px;
    }
    /* .blog-2 */
    .blog-2 h1{
        font-size: var(--font-h-T);
        padding-left: 20px;
    }
    .blog-2 .blog-2Top p{
        font-size: var(--font-p3);
        padding-left: 25px;
    }
    .blog-2 p{
        font-size: var(--font-p3);
    }
    .blog-2 div div{
        padding-left: 25px;
    }
    .blog-2 img{
        width: 250px;
    }
    /* .blog-3 */
    .blog-3 h1{
        font-size: var(--font-h-T);
        padding-left: 20px;
    }
    .blog-3 .blog-3Top p{
        font-size: var(--font-p3);
        padding-left: 25px;
    }
    .blog-3 p{
        font-size: var(--font-p3);
    }
    img{
        width: 250px;
    }
}