* {
    margin: 0;
    padding: 0;
}

:root{
    --primary:#000000;
    --Secondary:#5E4DFE;
    --accent:#FF6E69;
    --white:#ffffff;
    --head:'Istok Web', sans-serif;
    --body:'Inter', sans-serif;
    --font-h-D:48px;
    --font-h-d2:40px;
    --font-h-T:36px;
    --font-h-M:32px;
    --font-p1:24px;
    --font-p2:20px;
    --font-p3:14px;
}

.hero{
    background-color: var(--primary);
    color: var(--white);
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
}
.hero div{
    max-width: 1330px;
    padding-top: 50px;
    padding-bottom:200px;
    margin: 0px auto;
}
.hero div div{
    padding-left: 130px;
}

.hero h1{
    color: var(--Secondary);
    font-size: var(--font-h-D);
    font-family: var(--head);
    padding-left: 100px;
}
.hero p{
    font-size: var(--font-p2);
    font-family: var(--body);
    font-weight: 500;
    padding-left: 130px;
    padding-top: 30px;
}
.hero a{
    font-size: var(--font-p1);
    font-weight: 600;
    font-family: var(--body);
    text-decoration: none;
}
.product-img{
    max-width: 1220px;
    margin: 20px auto;
    margin-top: -350px;
    position: relative;
    z-index: 5;
}
.desktop{
    width: 850px;
}
.mobile{
    position: relative;
    z-index: 3;
    right: 60px;
    bottom: 70px;
}

@media (max-width:1200px){
    .hero h1{
        font-size: var(--font-h-d2);
        padding-left: 40px;
    }
    .hero p{
        padding-left: 60px;
    }
    .hero div div{
        padding-left: 60px;
    }
    .hero a{
        font-size: var(--font-p2);
    }
    .product-img{
        max-width: 650px;
    }
    .desktop{
        width: 450px;
    }
    .mobile{
        height: 350px;
    }
}
@media (max-width:650px){
    .hero h1{
        font-size: var(--font-h-T);
        padding-left: 20px;
    }
    .hero p{
        font-size: var(--font-p3);
        padding-left: 25px;
    }
    .hero div div{
        padding-left: 25px;
    }
    .hero a{
        font-size: var(--font-p3);
    }
    .desktop{
        display: none;
    }
    .product-img{
        max-width: 250px;
    }
    .mobile{
        right: 0px;
        bottom: 0px;
        left: 50px;
    }
}